body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron {
  background-color: #343a40;
  color: white;
  padding: 20px;
  border-radius: 0%;
}

.main-menu a {
  margin: 20px;
  display: flex;
  text-align: center;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 90px;
  font-size: 30px;
}

.card {
  margin: 20px 0;
}

.card img {
  max-height: 150px;
  object-fit: cover;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.weather-card {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-card h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.weather-card p {
  font-size: 1rem;
  margin: 5px 0;
}

/* Loading Spinner */
.spinner-border {
  width: 3rem;
  height: 3rem;
  margin: 20px auto;
  display: block;
}

/* Modal Content Image */
.modal-content img {
  max-width: 100%;
  height: auto;
}

/* No Image Available Placeholder */
.no-image {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 1.2rem;
}

.no-image::after {
  content: "No Image Available";
  position: absolute;
  color: #555;
  font-size: 1.2rem;
  text-align: center;
}
